In [ ]:
#this is hello world print code.
print("Hello, World!")

Hello, World!

In [ ]:
#python indentation.
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [1]:
#python indentation.
if 5 > 2:
print("Five is greater than two!")

IndentationError: ignored

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [ ]:
#variables in python.
x=5
y="Hello"

print(x)
print(y)

5
Hello

In [ ]:
x=4 #x is int type
x="Hello" #x is now str type
print(x)

Hello

In [ ]:
#specify datatype with casting.
x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
#find datatype
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
#single and double quotes are same.
x = "Sally"
print(x)
y = 'John'
print(y)

Sally
John

In [ ]:
#case sensitive.
a = 4
A = "Sally"
#A will not overwrite a
print(a)

4

In [ ]:
#multiple variable in one line.
x,y,z="Orange","Banana","Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
#same value to multiple variables
x=y=z="Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
#unpack a list.
fruits = ["apple","banana","cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
#output variables.
x = "Python is awesome"
print(x)

Python iss awesome

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x+y)

15

In [ ]:
"""In the print() function, when you try to combine a string
and a number with the + operator, Python will give you an error
"""
x = 5
y = "John"
print(x+y)

TypeError: ignored

In [ ]:
x = 5
y = "John"
print(x,y)

5 John

In [ ]:
#global & local variable
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()
print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
#global keyword
def myfunc():
  global x
  x = "fantastic"
myfunc()
print("Python is " + x)

Python is fantastic

In [ ]:
x = "awesome"
def myfunc():
  global x
  x = "fantastic"
  print("Python is " + x)
myfunc()
print("Python is " + x)

Python is fantastic
Python is fantastic

In [ ]:
#convert from one type to another
x = 1 #int
y = 2.5 #float
z = 1j #complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
#specify a variable type
x = 1
y = 2.2
z = "3"
print(int(x))
print(int(y))
print(int(z))

print(float(x))
print(float(y))
print(float(z))

x = "s1"
print(str(x))
print(str(y))
print(str(z))

1
2
3
1.0
2.2
3.0
s1
2.2
3

In [ ]:
a = "Hello"
print(a[1])

e

In [ ]:
#loop through a string
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
#string length
x = "banana"
print(len(x))

6

In [ ]:
#check string
txt = "The best things in life are free"
print("life" in txt)
print("cost" in txt)

True
False

In [ ]:
txt = "The best things in life are free"
if "free" in txt:
  print("Yes, 'free' is present.")
else:
  print("No, 'free' is not present")

No, 'cost' is not present

In [ ]:
txt = "The best things in life are free"
if "cost" in txt:
  print("Yes, 'cost' is present.")
else:
  print("No, 'cost' is not present")

No, 'cost' is not present

In [ ]:
#string slicing
a = "Hello World"
print(a[2:5])
print(a[:5])
print(a[2:])
print(a[-5:-2])

llo
Hello
llo World
Wor

In [ ]:
#upper case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
#lower case
a = "HELLO, WORLD"
print(a.lower())

hello, world

In [ ]:
#remove whitespace
a = " Hello, World! "
print(a.strip())

Hello, World!

In [ ]:
#replace
a = "Jello, World"
print(a)
print(a.replace("J","H"))

Jello, World
Hello, World

In [ ]:
#split string
a = "Hello, World"
b = a.split(",")
print(b)

['Hello', ' World']

In [ ]:
#string concatenation
a = "Hello"
b = "World"
c = a + b
print(c)
c = a + " " + b
print(c)

HelloWorld
Hello World

In [2]:
#string format
age = 24
txt = "My name Shadia, I am " + age
print(txt)

TypeError: ignored

In [3]:
#use format() function
age = 24
txt = "My name is Shadia, I am {}"
print(txt.format(age))

My name is Shadia, I am 24

In [ ]:
#format() method takes unlimited number of arguments
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity,itemno,price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
#format() with index numbers
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity,itemno,price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [ ]:
#list
list1 = ["apple","banana","cherry"]
print(list1)
list1[1] = "mango"
print(list1)

['apple', 'banana', 'cherry']
['apple', 'mango', 'cherry']

In [ ]:
#append items
list1 = ["apple","banana","cherry"]
list1.append("orange")
print(list1)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#insert
list1 = ["apple","banana","cherry"]
list1.insert(1,"orange")
print(list1)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
#extend list
list1 = ["apple","banana","cherry"]
list2 = ["orange","mango","papaya"]
list1.extend(list2)
print(list1)

['apple', 'banana', 'cherry', 'orange', 'mango', 'papaya']

In [ ]:
#add tuple
list1 = ["apple","banana","cherry"]
tuple = ("orange","mango")
list1.extend(tuple)
print(list1)

['apple', 'banana', 'cherry', 'orange', 'mango']

In [ ]:
#remove item
list1 = ["apple","banana","cherry"]
list1.remove("banana")
print(list1)

['apple', 'cherry']

In [ ]:
#remove specified index
list1 = ["apple","banana","cherry"]
list1.pop(1)
print(list1)

['apple', 'cherry']

In [ ]:
#delete entire list
list1 = ["apple","banana","cherry"]
del list1

In [ ]:
#clear the list contents
list1 = ["apple","banana","cherry"]
list1.clear()
print(list1)

[]

In [ ]:
#Sort the list alphabetically:
#ascending
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
#Sort the list numerically:
list1 = [100, 50, 65, 82, 23]
list1.sort()
print(list1)

[23, 50, 65, 82, 100]

In [ ]:
#descending
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
list1 = [100, 50, 65, 82, 23]
list1.sort(reverse=True)
print(list1)

[100, 82, 65, 50, 23]

In [ ]:
#reverse
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.reverse()
print(thislist)

['banana', 'pineapple', 'kiwi', 'mango', 'orange']

In [ ]:
#copy
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
mylist=thislist.copy()
print(mylist)

['orange', 'mango', 'kiwi', 'pineapple', 'banana']

In [ ]:
#Make a copy of a list with the list() method:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
mylist=list(thislist)
print(mylist)

['orange', 'mango', 'kiwi', 'pineapple', 'banana']

In [ ]:
#tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
#set
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [ ]:
#dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
#adding items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
#Nested Dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
import numpy as np
print(np.__version__)

1.22.4

In [ ]:
arr = np.array([1,2,3,4])
print(arr)
print(type(arr))
print(arr.ndim)

[1 2 3 4]
<class 'numpy.ndarray'>
1

In [ ]:
arr1 = np.array([1, 2, 3, 4])
arr2 = np.array(['apple', 'banana', 'cherry'])

print(arr1.dtype)
print(arr2.dtype)

int64
<U6